<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.7.2FORCE</key>
	<string>重要版本（1.7.2）更新：新增富文本消息推送、历史数据还原（时光机）、IT故障申告、会议资源管理等功能；优化解决搜索显示、个人详情、消息通讯、会议室预定、系统兼容等功能和问题。由于版本跨度较大，请务必更新！技术支持（办公室信息科83882185）</string>
</dict>
</plist>
