<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>	<key>1.6.2</key>	<string>重要提示：请务必更新客户端，否则会造成会议室日期功能无法正常使用！1.增大了app中字体的大小；2.优化了app对于iPhone6的适配问题；3.增加了会议室功能中的星期显示；4.增加了问题反馈功能；</string></dict></plist>