<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.7.0</key>
	<string>NBLink 1.7.0版本更新
更新主要包括：新增短信安全验证、密码找回功能；增加号码本地保存功能；提升IOS9系统兼容性；修复部分BUG，优化系统功能等。如有问题，请联系办公室(企划办）信息化建设科 徐立斌，83882185，677698。</string>
</dict>
</plist>
