<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>1.1.1</key>
    <string>1.	点击创建群，显示“创建工作组”调整为“创建群组”；
2.	将“我的签到”栏目下看见所有人的签到，调整为只显示我的签到；
3.	解决了IOS中消息转发给别人，自己这边有消息未读提示的问题；
4.	解决了链接下加一回车发送之后就无法打开这个链接的问题；
5.	调整了“我”里面老师、学生需要修改或者无法修改的字段的问题；
6.	解决了老师找学生或其他老师聊天，点击“发送消息”，转到异常页面的问题；
7.	将个人详情中“职位”改成“职务”；
8.	解决了复制“消息”中的链接闪退的问题；
9.	解决了修改会话名称之后，返回到会话界面，会话名称没有刷新的问题；
10.	解决了好友验证消息太长导致的显示问题；</string>
</dict>
</plist>