<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.5.1</key>
	<string>1.修复了“在群聊天界面，如果被踢出群组，还可以继续发送消息，群组中也可以收到，但是收不到群组中的人发的消息”的问题
2.修复了头像不能实时更新的问题
3.修复了提醒未安装用户提示语逻辑错误的问题
4.修复了“先打开音乐播放器选取歌曲，然后进入NBLINK后，音乐自动停止”的问题
5.修复了“第一次登录修改密码的时候修改成111111，那么接下来还是需要重新修密码”的问题
6.修改了重复会话的问题
7.修改了发送消息被覆盖的问题
</string>
</dict>
</plist>
