<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.7.1</key>
	<string>NBLink 1.7.1版本更新：新增绩效应用，实现与PC端绩效系统数据同步；优化系统通知功能；优化通讯录搜索功能；改善IOS输入法兼容性；修复部分BUG等。请大家及时更新。技术支持：信息化建设科徐立斌（83882185）</string>
</dict>
</plist>
