<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>	<key>1.6.5</key>	<string>1.	将任务中的“接受人”改为“接收人”；2.	去掉了点击人员头像放大的功能；3.	去掉了会议室头部刷新的功能；4.	增大了选人时的触点区域；5.	整改了通讯录中组织架构的显示；6.	优化了常用联系人的功能；7.	“我的签到”中增加了会议室的签到信息；8.	优化了会议室签到列表的样式；9.	“我的签到”中增加了筛选部门签到的功能；10.	“我的签到”中筛选签到增加了滚动的功能；11.	调整了通讯录第一层目录的头像；</string></dict></plist>