<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>1.1.5</key>
    <string>1.	解决了学生学院字段显示的是班级的问题；
2.	增加了通讯录中添加好友申请的提示红点；
3.	解决了联系人详情页中无性别显示的问题；
4.	解决了无网络情况下登陆会闪退的问题；</string>
</dict>
</plist>